PORT = 3000
ENV = debug
WEB_URL = http://localhost:5173
REDIS_URL = redis://localhost:6379
REDIS_CACHE_EXPIRATION = 28800
RESPONSE_CACHE_EXPIRATION = 3600
CORE_CACHE_EXPIRATION = 0
VTEX_SHA256_HASH = REPLACE_ME
HISTORY_ENABLED = false
HISTORY_DB_PATH = ./data/history.db
PARTIAL_CACHE_EXPIRATION = 60
